:root {
    font-size: 1.12em;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}
.gridcontainer {
    display: grid;
    grid-template-columns: [f] 49% [s] 49%;
    column-gap: 2%;
}

.gridcontainer>* {
}

.wmd-input {
    width: 100%;
    height: 90%;
    font-family: inherit;
}

*:target{
    background-color: aqua;
}
